<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Weight_Tracker.Weight_Tracker" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Weight_Tracker"></application>
</manifest>